<div id= "<%= index %>"></div>

<script>
createGraph({
    chart: {    
                renderTo: "<%= index %>",
                events: {},
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: "<strong><%= sheet %></strong>"
            },

            xAxis: {
                categories: [
                    'A',
                    'B',
                    'C',
                    'D',
                ]
            },
            yAxis: {
                min: 0,
                <%= "max: 100," if text == 'Proportion' %>
                title: {
                    text: "<%= text %>"
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y: .1f} <%= "%" if text == "Proportion" %></b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            <% if by_country %>
            series: [{
                name: 'Bangladesh',
                data: <%= bangladesh %>
            }, {
                name: 'Ghana',
                data: <%= ghana %>
    
            }, {
                name: 'India',
                data: <%= india %>
    
            }, {
                name: 'Malawi',
                data: <%= malawi %>
    
            }, {
                name: 'Tanzania',
                data: <%= tanzania %>
    
            }]
           <% elsif by_value_chain %>
            series: [{
                name: 'Bangladesh Indigo',
                data: <%= bangladesh_indigo %>
            }, {
                name: 'Ghana Groundnuts',
                data: <%= ghana_groundnuts %>
    
            }, {
                name: 'Ghana Soy',
                data: <%= ghana_soy %>
    
            }, {
                name: 'India Maize',
                data: <%= india_maize %>
    
            }, {
                name: 'India Paddy',
                data: <%= india_paddy %>
    
            }, {
                name: 'Malawi Groundnut',
                data: <%= malawi_groundnut %>
    
            }, {
                name: 'Malawi Soy',
                data: <%= malawi_soy %>
    
            }, {
                name: 'Tanzania Cassava',
                data: <%= tanzania_cassava %>
    
            }, {
                name: 'Tanzania Sesame',
                data: <%= tanzania_sesame %>
    
            }]
            <% end %>
            
        });

function createGraph(chartOptions) {
    // open the basic chart
    $(document).ready(function () {
        // set the click event for the parent chart
        chartOptions.chart.events.click = function () {
            hs.htmlExpand(document.getElementById(chartOptions.chart.renderTo), {
                width: 9999,
                height: 9999,
                allowWidthReduction: true,
                preserveContent: false
            }, {
                chartOptions: chartOptions
            });
        };
        var chart = new Highcharts.Chart(chartOptions);
    });
}

// Create a new chart on Highslide popup open
hs.Expander.prototype.onAfterExpand = function () {
    if (this.custom.chartOptions) {
        var chartOptions = this.custom.chartOptions;
        if (!this.hasChart) {
            chartOptions.chart.renderTo = $('.highslide-body')[0];
            chartOptions.chart.height = $('.highslide-body').parent().height();
            chartOptions.chart.events.click = function () {};
            var hsChart = new Highcharts.Chart(chartOptions);
        }
        this.hasChart = true;
    }
};
</script>