<!DOCTYPE html>
<meta charset = 'utf-8'>
<html>
<head>
  <title>AgriculturalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  <link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>



</head>
<body>
  <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href=<%= "#{root_path}" %>> Dashboard</a>
          <a class="blog-nav-item crazyhelp" href="javascript:Alert()">Help </a>
        </nav>
      </div>
  </div>
  <div class="container-fluid">
      <div class="col-md-10">
        <h3 class="bg-success"><strong>Pathways PPT Analysis Dashboard</strong></h3>
        <div class="bs-callout bs-callout-info">
          <h4>Visualize the current state of the project with the following interactive dashboard.  You can click on any of the charts to enlarge and interact with them.  Use the Sort option in the top right to choose a view of the data.  In the grade, an A is the highest grade and a D is the poorest grade.  And in the yes/no - a "yes" means the groups are using at least one of the recommended practices in that domain and a "no" means they are using none.</h4>
        </div>
      </div>
      <div class="col-md-2">
       <h3>
         <%= render partial: 'welcome/multiselect' %>
       </h3> 
      </div>
      <span id="update_charts">
          <%= yield %>
      </span>
  </div>
</body>
</html>
